/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 10.38.00
    Author     : Davide Fara
*/

/* CSS tag */
a:active
{
    color: #99b5c6;
}

a:link
{
    color: #1e6f9e;
    text-decoration: none;
}

a:visited
{
    color: #0f5bbf;
    text-decoration: none;
}

a:hover
{
    color: #003882;
    text-decoration: none;
}

body
{
    background-color: #99b5c6;
    font-size: 30px;
}

h1
{
    background-color: #1f3559;
    color: #ffffff;
    font: 40px/40px "Verdana", Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}

h2
{
    color: #000000;
    font: 30px/30px "Calibri", Arial, sans-serif;
}

h3
{
    color: #000000;
    font: 20px/20px "Calibri", Arial, sans-serif;
    font-weight: bold;
}

header
{
    background-color: #1f3559;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,9,0,0.5);
    
}

header div, header nav
{
    display: inline-block;
    background-color: #1f3559;
    margin-top: 0px;
    
}

header h1
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 50px;
   
}

header nav
{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: static
}

header nav ol, header nav li
{
    list-style-type: none;
    font: 20px/5px "Calibri", "Times New Roman", Arial, sans-serif; 
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    
}

html
{
    min-height: 100%;
    position: relative;
}

p
{
    color: #000000;
    font: 20px/25px "Calibri", "Times New Roman", Arial, sans-serif;
}

/* CSS ID */
#divBody
{
    margin-top: 0px;
    float: left;
}

#divBody h1
{
    font: 32px/32px "Calibri", "Times New Roman", Arial, sans-serif;
}

#linkedImg
{
    display: block;
    width: 98%;
    height: auto;
}



#side1
{
    background-color: #ffffff;
    margin-top: 1px;
    margin-right:50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,9,0,0.5);
    float: left;
    height: 100%;
}

#side1 h2
{
    font-size: 30px;
    font-weight: bold;
    background-color: #1f3559;
    color: #ffffff;
    margin-top: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,9,0,0.5);
}


#side1, #divBody
{
    display: inline-table;
}

#subList, #divBody
{
    display: inline-table;
}

#subList
{
    background-color: #ffffff;
    margin-top: 1px;
    margin-right:50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,9,0,0.5);
    float: left;
    height: 100%;
}

#subList h2
{
    font-size: 30px;
    font-weight: bold;
    background-color: #1f3559;
    color: #ffffff;
    margin-top: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,9,0,0.5);
}

#subList li
{
    font-size: 20px;
    margin-right: 15px;
    margin-left: 15px;

}

#subList ul
{
    padding-left: 20px;
}

/* CSS classi */
.post
{
    background-color: #edf4f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,9,0,0.5);
}

.post .profilePic, .post h3
{
    display: inline-block;
}

.post .profilePic, .post .h3, .post p, .post img
{
    padding: 10px;
}

.post h1
{
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,9,0,0.5);
    margin-top: 0px;
}

.sideList
{
    font-size: 20px;
    margin-right: 15px;

}

.sideList ul
{
    padding-left: 20px;
}

#sidePersone .sideList li
{
    list-style-type: none;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRPhqHeM3p5ekSrzJJhxCop9iiJmJWwIgM_2Zcp9Vqm7REfTK7AgQ);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 23px;
    padding-top: 4px;
}

#sideGruppi .sideList li
{
    list-style-type: none;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT39WuwJ8XWZH76LXeX_CNeiQFS-bc0bi2VccPg6SSM2tcZJXKNxg);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 23px;
    padding-top: 4px;
}