/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 10.38.00
    Author     : Davide Fara
*/

/* CSS Generico */
body
{
    background-color: #f7f7f7;
    font: 30px/25px "Calibri", Arial, sans-serif;
}


nav ol, nav li
{
    /*
    background-color: #ffffff;
    font: 30px/35px "Calibri", Arial, sans-serif;
    */
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

header
{
    background-color: #333333;
}

h1
{
    background-color: #333333;
    color: #ffffff;
    font: 40px/40px "Verdana", Arial, sans-serif;
}

h2
{
    color: #000000;
    font: 20px/20px "Calibri", Arial, sans-serif;
}

h3
{
    color: #000000;
    font: 20px/20px "Calibri", Arial, sans-serif;
    font-weight: bold;
}

p
{
    color: #000000;
    font: 20px/25px "Calibri", "Times New Roman", Arial, sans-serif;
}

a:link
{
    color: #1d11aa;
    text-decoration: none;
}

a:visited
{
    color:#e21c18;
    text-decoration: underline;
}

a:hover
{
    color:#31bfc4;
}

header div h1
{
    margin-top: 0px;
}

header div h1, header nav
{
    display: inline-block;
    margin-top: 0px;
}

/* FINE CSS GENERICO */

/* CSS Bacheca */
.post
{
    background-color: #ffffff;
    color: #000000;
      
}

#post2 #linkedImg
{
    display: block;
}

.post .profilePic,h3
{
    display: inline-block;
}



/* FINE CSS BACHECA */




/* VCSS Profilo */

/* FINE CSS PROFILO */





/* CSS Login */

/* FINE CSS LOGIN */





/* CSS Descrizione */

/* FINE CSS DESCRIZIONE */